#radius{
    position: absolute;
    // border: 1px solid red;
    border-radius: 50%;
    width: 806%;
    height: 338px;
    left: -284%;
    top: -139%;
    .star1, .star2, .star3, .star4, .star01, .star5, .star6, .star02, .star03, .star04, .star7{
        position: absolute;
        width: 18%;
        height: 59px;
        border-radius: 50%;
        opacity: 0;
        z-index: -1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .star2{
        background-image: url(../Images/star1.jpg);
    }
    .star3{
        background-image: url(../Images/star2.jpg);
        margin-left: 40%;
        margin-top: 42%;
    }
    .star4{
        background-image: url(../Images/star3.jpg);
        margin-left: 40%;
        margin-top: 42%;
    }
    .star5{
        background-image: url(../Images/star4.jpg);
        margin-left: 40%;
        margin-top: 42%;
    }
    .star6{    
        background-image: url(../Images/star5.jpg);
        margin-left: 40%;
        margin-top: 42%;
    }
    .star7{
        background-image: url(../Images/star6.jpg);
        margin-left: 40%;
        margin-top: 42%;
    }
    .star04{
        background-image: url(../Images/star7.jpg);
        margin-left: 40%;
        margin-top: 42%
    }
    .star03{
        background-image: url(../Images/star8.jpg);
        margin-left: 40%;
        margin-top: 42%;
    }
    .star02{
        background-image: url(../Images/star9.jpg);
        margin-left: -10%;
        margin-top: 46%;
    }
    .star01{
        background-image: url(../Images/star10.jpg);
        margin-left: 40%;
        margin-top: 42%;
    }
    .star1{
        background-image: url(../Images/star11.jpg);
        margin-left: 40%;
        margin-top: 42%;
    }
    
   
    
    
}
@keyframes star1 {
    from {margin-left: 40%; margin-top: 42%;}
    to {margin-left: 40%; margin-top: -8%}
}
@keyframes star2 {
    from {margin-left: 40%; margin-top: 42%;}
    to {margin-left: 70%; margin-top: -1%}
}
@keyframes star3 {
    from {margin-left: 40%; margin-top: 42%;}
    to {margin-left: 86%; margin-top: 19%}
}
@keyframes star4 {
    from {margin-left: 40%; margin-top: 42%;}
    to {margin-left: 91%; margin-top: 46%}
}
@keyframes star5 {
    from {margin-left: 40%; margin-top: 42%;}
    to {margin-left: 82%; margin-top: 72%}
}
@keyframes star6 {
    from {margin-left: 40%; margin-top: 42%;}
    to {margin-left: 58%; margin-top: 90%}
}
@keyframes star7 {
    from {margin-left: 40%; margin-top: 42%;}
    to {margin-left: 24%; margin-top: 90%}
}
@keyframes star8 {
    from {margin-left: 40%; margin-top: 42%;}
    to {margin-left: 0%; margin-top: 72%}
}
@keyframes star9 {
    from {margin-left: 40%; margin-top: 42%;}
    to {margin-left: -10%; margin-top: 46%}
}
@keyframes star10 {
    from {margin-left: 40%; margin-top: 42%;}
    to {margin-left: -4%; margin-top: 20%}
}
@keyframes star11 {
    from {margin-left: 40%; margin-top: 42%;}
    to {margin-left: 12%; margin-top: 0%}
}

@keyframes revolution {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes revolutionStop {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

@keyframes star1Back {
    from {margin-left: 40%; margin-top: -8%;}
    to {margin-left: 40%; margin-top: 42%}
}
@keyframes star2Back {
    from {margin-left: 70%; margin-top: -1%;}
    to {margin-left: 40%; margin-top: 42%}
}
@keyframes star3Back {
    from {margin-left: 86%; margin-top: 19%;}
    to {margin-left: 40%; margin-top: 42%}
}
@keyframes star4Back {
    from {margin-left: 91%; margin-top: 46%;}
    to {margin-left: 40%; margin-top: 42%}
}
@keyframes star5Back {
    from {margin-left: 82%; margin-top: 72%;}
    to {margin-left: 40%; margin-top: 42%}
}
@keyframes star6Back {
    from {margin-left: 58%; margin-top: 90%;}
    to {margin-left: 40%; margin-top: 42%}
}
@keyframes star7Back {
    from {margin-left: 24%; margin-top: 90%;}
    to {margin-left: 40%; margin-top: 42%}
}
@keyframes star8Back {
    from {margin-left: 0%; margin-top: 72%;}
    to {margin-left: 40%; margin-top: 42%}
}
@keyframes star9Back {
    from {margin-left: -10%; margin-top: 46%;}
    to {margin-left: 40%; margin-top: 42%}
}
@keyframes star10Back {
    from {margin-left: -4%; margin-top: 20%;}
    to {margin-left: 40%; margin-top: 42%}
}
@keyframes star11Back {
    from {margin-left: 12%; margin-top: 0%;}
    to {margin-left: 40%; margin-top: 42%}
}


@keyframes star1Bomb {
    to {margin-left: 10%; margin-top: -8%;}
    from {margin-left: 40%; margin-top: 42%}
}
@keyframes star2Bomb {
    to {margin-left: -20%; margin-top: -20%;}
    from {margin-left: 40%; margin-top: 42%}
}
@keyframes star3Bomb {
    to {margin-left: 45%; margin-top: 70%;}
    from {margin-left: 40%; margin-top: 42%}
}
@keyframes star4Bomb {
    to {margin-left: 80%; margin-top: -50%;}
    from {margin-left: 40%; margin-top: 42%}
}
@keyframes star5Bomb {
    to {margin-left: 55%; margin-top: -88%;}
    from {margin-left: 40%; margin-top: 42%}
}
@keyframes star6Bomb {
    to {margin-left: 68%; margin-top: 90%;}
    from {margin-left: 40%; margin-top: 42%}
}
@keyframes star7Bomb {
    to {margin-left: -85%; margin-top: 50%;}
    from {margin-left: 40%; margin-top: 42%}
}
@keyframes star8Bomb {
    to {margin-left: -60%; margin-top: -8%;}
    from {margin-left: 40%; margin-top: 42%}
}
@keyframes star9Bomb {
    to {margin-left: -5%; margin-top: 80%;}
    from {margin-left: 40%; margin-top: 42%}
}
@keyframes star10Bomb {
    to {margin-left: -45%; margin-top: 40%;}
    from {margin-left: 40%; margin-top: 42%}
}
@keyframes star11Bomb {
    to {margin-left: 80%; margin-top: -20%;}
    from {margin-left: 40%; margin-top: 42%}
}